* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

.wrap {
  margin: 0 auto;
  width: 100%;
}

a {
  color: #1c1c1c;
  text-decoration: none;
  font-size: 16px;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 5px;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 5px;
}

/* header */

.header {
  background-color: #edece8;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.logo {
  margin: 5px 0;
  width: 130px;
  height: 60px;
}

.logo img {
  width: 100%;
}

.navabr {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  margin: auto;
}

.menu a {
  margin: 10px 20px;
}

.menu a:hover {
  color: #a86a28;
  transition: all 0.01s linear;
  border-bottom: 2px solid #a86a28;
}

.book {
  background-color: #b78958;
  border: none;
  padding: 0 0;
  font-weight: bold;
}

.book a {
  display: inline-block;
  border-bottom: 1px solid transparent;
  padding: 10px 20px;
  color: aliceblue;
  letter-spacing: 0.1em;
}

.book a:hover {
  transition: all 0.15s linear;
  background-color: #a86a28;
}

@media screen and (max-width: 768) {
  .menu {
    display: none;
  }
}

/* footer */

.footer {
  padding: 25px 0;
  text-align: center;
  background-color: #edece8;
}

.footer hr {
  width: 650px;
}

.followIcon a {
  font-size: 20px;
  padding: 0 10px;
}

.describe p {
  margin: 10px 0;
  text-align: center;
}

.copyright p {
  font-size: 9px;
  color: rgb(184, 184, 184);
}
