/* content */

.content {
  background-image: url(../Img/bgi.jpg);
}

h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

h3 {
  color: #7f705f;
}

p {
  color: #8e8c8c;
}

/* featuredPic */

.featuredPic {
  max-width: 1100px;
  margin: auto;
}

.featured h3 {
  /* padding-top: 20px; */
  padding-left: 30px;
}

.container {
  display: flex;
  width: 1100px;
  padding: 20px;
  /* width: 80vw; */
  height: 80vh;
  box-sizing: border-box;
  margin: auto;
}

.containerbox {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 0.5%;
}

.containerbox > img {
  width: 200%;
  height: calc(100%);
  object-fit: cover;
  transition: 0.6s;
}

.containerbox:hover {
  flex: 1 1 50%;
}
.containerbox:hover > img {
  width: 100%;
  height: 100%;
}

.discountMore {
  max-width: 1100px;
  margin: 0 20px;
  margin: auto;
  display: flex;
  justify-content: end;
  border-bottom: 1px solid rgb(74, 71, 71);
}

.discountMore a {
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 5px 25px;
  border: 1px solid rgb(74, 71, 71);
  border-radius: 45px;
}

.discountMore a:hover {
  transition: 0.3s linear;
  transform: translateX(10px);
}

.now {
  color: #a86a28;
  border-bottom: 2px solid #a86a28;
}

/* featuredPic RWD */

@media screen and (max-width: 1200px) {
  .featured h3 {
    padding-left: 0px;
    text-align: center;
  }

  .container {
    width: 80vw;
  }

  .discountMore {
    justify-content: center;
    margin: 0 20px;
  }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .containerbox img {
    width: 100%;
  }

  .container {
    height: 1000px;
    display: grid;
    gap: 20px;
  }
}

/* foodDescribe */

.foodDescribe {
  max-width: 1100px;
  margin: 0px 20px;
  padding: 20px 30px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.leftBox {
  max-width: 600px;
}

.leftBox h3 {
  margin-bottom: 30px;
}

.leftBox p {
  line-height: 1.5;
}

.rightBox {
  display: inline-block;
  margin-top: 70px;
  margin-right: 20px;
}

.rightBox a {
  padding: 10px 20px;
  border: 1px solid #b78958;
  font-weight: bold;
}

.fooddown {
  color: #b78958;
  margin-right: 5px;
}

.fooddown:hover {
  background-color: #b78958;
  color: aliceblue;
  transition: all 0.15s linear;
}

.foodbook {
  background-color: #b78958;
  color: aliceblue;
}

.foodbook:hover {
  color: #b78958;
  background-color: transparent;
  transition: all 0.15s linear;
}

.text {
  display: none;
}

/* foodDescribe RWD */

@media screen and (max-width: 1200px) {
  .foodDescribe {
    margin: 0px 20px;
    margin: auto;
  }
}
@media screen and (max-width: 1024px) {
  .foodDescribe {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 0px 20px;
  }

  .rightBox {
    margin-top: 50px;
    margin-bottom: 40px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 768px) {
}

/* dishes */

.dishes {
  margin: 0 20px;
  margin: auto;
  max-width: 1100px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(74, 71, 71);
}

.dishes h3 {
  margin-bottom: 30px;
  padding-left: 30px;
  margin-top: 20px;
}

.dishesCard {
  display: flex;
  max-width: 1060px;
  margin: auto;
  margin: 30px;
}

.dishesCard a {
  position: relative;
}

.dishesCard a::after {
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  transition: 0.5s;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: azure;
}

.food1::after {
  content: "宮保雞丁";
}
.food2::after {
  content: "蔥爆羊肚";
}
.food3::after {
  content: "蟹黃豆腐";
}
.food4::after {
  content: "富貴雙方";
}

.dishesCard a:hover::after {
  opacity: 0;
}

.card img {
  width: 100%;
  vertical-align: bottom;
}

.black {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding-top: 50%;
}

.text {
  display: none;
}

/* dishes RWD */

@media screen and (max-width: 1200px) {
  .dishes {
    margin: 0 20px;
    margin: auto;
  }
}
@media screen and (max-width: 1024px) {
  .dishes h3 {
    text-align: center;
    padding-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .dishesCard {
    display: grid;
    gap: 20px;
    max-width: fit-content;
    margin: auto;
  }

  .cardImg {
    max-width: 300px;
    margin: auto;
    text-align: center;
  }

  .cardImg img {
    width: 90%;
  }

  .dishesCard a::after {
    background-color: transparent;
    writing-mode: horizontal-tb;
    bottom: 350px;
    color: aliceblue;
    text-shadow: 0.2em 0.2em 0.4em black;
    font-size: 20px;
  }

  .dishes {
    margin: 0 20px;
  }
}

/* news */

.contentmenu {
  max-width: 1100px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 0 20px;
  margin: auto;
  margin-top: 10px;
  flex-wrap: wrap;
}

.contentmenu h3,
.contentmenu p {
  margin: 20px 0;
}

/* news RWD */

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .contentmenu {
    margin: 0 20px;
  }

  .contentmenu h3 {
    font-size: 16px;
  }

  .contentmenu p {
    flex-wrap: nowrap;
    font-size: 14px;
  }
}
