.content {
  background-image: url(../Img/bgi.jpg);
}

h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

h3 {
  color: #7f705f;
}

p {
  color: #8e8c8c;
}

.contentmenu {
  width: 1100px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 10px;
  border-top: 2px solid gray;
  border-bottom: 1px solid gray;
}

.contentmenu h3,
.contentmenu p {
  margin: 30px 0;
}

.foodDescribe {
  width: 1100px;
  margin: auto;
  padding: 20px 30px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
.leftBox {
  width: 600px;
}

.leftBox h3 {
  margin-bottom: 10px;
}

.leftBox p {
  line-height: 1.5;
}

.rightBox {
  display: inline-block;
  margin-top: 58px;
}

.rightBox a {
  padding: 10px 20px;
  border: 2px solid #b79b7e;
}

.fooddown {
  color: #7f705f;
}

.fooddown:hover {
  background-color: #b79b7e;
  color: aliceblue;
  transition: all 0.3s linear;
}

.foodbook {
  background-color: #b79b7e;
  color: aliceblue;
}

.foodbook:hover {
  color: #7f705f;
  background-color: transparent;
  transition: all 0.3s linear;
}

.featured {
  width: 1100px;
  margin: auto;
}

.featured h3 {
  padding-top: 20px;
  padding-left: 30px;
}

.container {
  display: flex;
  width: 1100px;
  padding: 20px;
  height: 80vh;
  box-sizing: border-box;
  margin: auto;
}

.containerbox {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 0.5%;
}

.containerbox > img {
  width: 200%;
  height: calc(100%);
  object-fit: cover;
  transition: 0.6s;
}

.containerbox:hover {
  flex: 1 1 50%;
}
.containerbox:hover > img {
  width: 100%;
  height: 100%;
}

.discountMore {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: end;
}

.discountMore a {
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 5px 25px;
  border: 1px solid rgb(74, 71, 71);
  border-radius: 45px;
}

.discountMore a:hover {
  transition: 0.3s linear;
  transform: translateX(10px);
}
