.content {
  background-image: url(../Img/bgi.jpg);
}

h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

h3 {
  color: #7f705f;
}

p {
  color: #8e8c8c;
}

.contentmenu {
  width: 1100px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 10px;
  border-top: 1px solid gray;
}

.contentmenu h3,
.contentmenu p {
  margin: 30px 0;
}

.foodDescribe {
  width: 1100px;
  margin: auto;
  padding: 20px 30px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
.leftBox {
  width: 600px;
}

.leftBox h3 {
  margin-bottom: 10px;
}

.leftBox p {
  line-height: 1.5;
}

.rightBox {
  display: inline-block;
  margin-top: 50px;
  margin-right: 20px;
}

.rightBox a {
  padding: 10px 20px;
  border: 1px solid #b78958;
  font-weight: bold;
}

.fooddown {
  color: #b78958;
  margin-right: 5px;
}

.fooddown:hover {
  background-color: #b78958;
  color: aliceblue;
  transition: all 0.15s linear;
}

.foodbook {
  background-color: #b78958;
  color: aliceblue;
}

.foodbook:hover {
  color: #b78958;
  background-color: transparent;
  transition: all 0.15s linear;
}

.featured {
  width: 1100px;
  margin: auto;
}

.featured h3 {
  padding-top: 20px;
  padding-left: 30px;
}

.container {
  display: flex;
  width: 1100px;
  padding: 20px;
  height: 80vh;
  box-sizing: border-box;
  margin: auto;
}

.containerbox {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 0.5%;
}

.containerbox > img {
  width: 200%;
  height: calc(100%);
  object-fit: cover;
  transition: 0.6s;
}

.containerbox:hover {
  flex: 1 1 50%;
}
.containerbox:hover > img {
  width: 100%;
  height: 100%;
}

.discountMore {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: end;
}

.discountMore a {
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 5px 25px;
  border: 1px solid rgb(74, 71, 71);
  border-radius: 45px;
}

.discountMore a:hover {
  transition: 0.3s linear;
  transform: translateX(10px);
}

.now {
  color: #a86a28;
  border-bottom: 2px solid #a86a28;
}

.dishes {
  margin: auto;
  width: 1100px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(74, 71, 71);
}

.dishes h3 {
  width: 1100px;
  margin: auto;
  margin-bottom: 30px;
  padding-left: 30px;
}

.dishesCard {
  display: flex;
  width: 1100px;
}

.dishesCard a {
  position: relative;
}

.dishesCard a::after {
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  transition: 0.5s;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: azure;
}

.food1::after {
  content: "宮保雞丁";
}
.food2::after {
  content: "蔥爆羊肚";
}
.food3::after {
  content: "蟹黃豆腐";
}
.food4::after {
  content: "富貴雙方";
}

.dishesCard a:hover::after {
  opacity: 0;
}

.card {
  width: 275px;
}

.card img {
  width: 100%;
  vertical-align: bottom;
}

.black {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding-top: 50%;
}
