.news {
  background-image: url(../Img/bgi.jpg);
}

h2 {
  text-align: center;
}

.news {
  background-color: #d9d9d9;
  padding-top: 50px;
  margin: auto;
}

.choose ul {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

.choose ul a {
  display: inline-block;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
}

.choose ul a:hover {
  color: #b78958;
  transition: all 0.3s linear;
  border-bottom: 2px solid #b78958;
}

#now {
  color: #b78958;
  border-bottom: 2px solid #b78958;
}

.content {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 25px;
  margin: auto;
}

.content a:hover {
  transition: all 0.3s linear;
  transform: scale(1.015);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.contentimg {
  width: 300px;
  height: 173px;
}

.contentimg img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  border-radius: 5px 5px 0 0;
}

.text {
  background-color: white;
  padding: 1rem;
  border-radius: 0 0 5px 5px;
}

.text1 {
  border-bottom: 2px solid #8e8c8c;
}

.text1 span {
  font-size: 13px;
  line-height: 1.5rem;
}

.text2 {
  margin: 16px 0;
}

.text2 span {
  font-size: 13px;
  color: #8e8c8c;
}

.classify {
  color: #b70000;
  margin-left: 36px;
}

.number {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.number a {
  color: #b78958;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0px 4px;
}

.number a.active {
  background-color: #b78958;
  color: aliceblue;
}

.number a:hover:not(.active) {
  background-color: #b78958;
  color: aliceblue;
}
