/* banner */
.toppic {
  background-image: url(../Img/play/play1.jpg);
  max-width: 100%;
  height: 750px;
  vertical-align: bottom;
}

/* content */

.content {
  background-image: url(../Img/bgi.jpg);
}

h2 {
  text-align: center;
  padding-top: 50px;
}

.box {
  padding-bottom: 30px;
}

.list {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: 1100px;
  margin-top: 50px;
  align-items: center;
}

.listpic {
  width: 470px;
  height: 330px;
}

.listpic img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.listtextrig {
  width: 470px;
  margin-right: 80px;
  padding: 1rem;
}

.listtextlef {
  width: 470px;
  margin-left: 80px;
  padding: 1rem;
}

.relist {
  flex-direction: row-reverse;
}

h3 {
  margin-bottom: 20px;
  color: #7f705f;
}

.list p,
.relist p {
  line-height: 1.7;
  color: #8e8c8c;
}

.list a,
.relist a {
  display: inline-block;
  margin-top: 40px;
  padding: 10px 50px;
  background-color: #b79b7e;
  color: aliceblue;
  border: 1px solid #b79b7e;
}

.list a:hover,
.relist a:hover {
  background-color: transparent;
  color: #b79b7e;
}
