/* content */

h2 {
  text-align: center;
  padding-top: 50px;
}

.now {
  color: #a86a28;
  border-bottom: 2px solid #a86a28;
}

.content {
  margin: auto;
  background-image: url(../Img/bgi.jpg);
  padding: 0 15px;
}

.roomMenu ul {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

.roomMenu ul a {
  display: inline-block;
  margin: 0 5px;
  border-bottom: 2px solid transparent;
}

.roomMenu ul a:hover {
  color: #a86a28;
  transition: all 0.01s linear;
  border-bottom: 2px solid #a86a28;
}

.luxurySuite,
.luxuryRoom,
.privilegeRoom,
.presidentialSuite {
  max-width: 1300px;
  margin: auto;
  padding-bottom: 70px;
}

.presidentialSuite {
  padding-bottom: 10px;
}

.card {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 5px;
}

.left {
  width: 650px;
}

.left img {
  width: 100%;
  border-radius: 10px 0 0 10px;
  vertical-align: bottom;
}

.right {
  display: grid;
  align-items: stretch;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  width: 645px;
}

.rightPic {
  max-width: 320px;
}

.rightPic img {
  width: 100%;
  vertical-align: bottom;
}

.rd1 img {
  border-radius: 0 10px 0 0;
}

.rd img {
  border-radius: 0 0 10px 0;
}

.roomtext {
  max-width: 1300px;
  margin: auto;
  margin: 10px 40px;
  display: flex;
  justify-content: space-between;
}

.roomtext p {
  color: #7f705f;
}

.title {
  font-size: 36px;
  letter-spacing: 1.5rem;
  margin-bottom: 20px;
  padding-left: 30px;
  color: #7f705f;
}

.en {
  padding-left: 30px;
  padding-bottom: 20px;
  color: #7f705f;
}

.text {
  max-width: 740px;
  padding-top: 20px;
  margin: auto;
  margin-left: 0px;
}

.text span {
  display: block;
  font-size: 16px;
  color: #7f705f;
  margin-bottom: 9px;
  font-weight: bold;
}

.text p {
  font-size: 14px;
  color: #8e8c8c;
  margin-bottom: 30px;
}

.facility {
  min-width: 200px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.facility i {
  font-size: 40px;
  width: 60px;
}

.facility span {
  margin-top: 20px;
}

.newww {
  max-width: 750px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 30px;
}

#newTitle {
  color: #7f705f;
  font-size: 18px;
  margin-bottom: 10px;
}

.test ul li {
  font-size: 14px;
  color: #8e8c8c;
}

.roomBook {
  max-width: 285px;
  margin-top: 30px;
}

.roomBookBottom {
  margin-bottom: 30px;
}

h3 {
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 1.5px solid #7f705f;
}

.roomBook h3 {
  padding-bottom: 5px;
  margin-top: 37px;
  margin-bottom: 41px;
  display: inline-block;
  border-bottom: 1.5px solid #7f705f;
}

.roomBook p {
  line-height: 2rem;
}

.textBook {
  margin-top: 50px;
}

.textBook a {
  background-color: #b78958;
  color: aliceblue;
  margin-top: 30px;
  padding: 10px 20px;
  border: 2px solid #b78958;
  border-radius: 5px;
  font-weight: bold;
}

.textBook a:hover {
  transition: all 0.1s linear;
  background-color: transparent;
  color: #b78958;
}

#concept {
  display: none;
}

/* content RWD */

@media screen and (max-width: 1200px) {
  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .newww {
    gap: 25px;
  }

  .roomtext {
    display: block;
    margin: auto;
  }

  .text {
    margin: auto;
  }

  .title {
    padding-left: 0px;
  }

  .right {
    width: 650px;
  }

  .rightPic {
    min-width: 322.5px;
  }

  .left img,
  .rd img,
  .rd1 img {
    border-radius: 0 0 0 0;
  }

  .en {
    padding-left: 0px;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  h2 {
    padding-top: 25px;
  }

  .left {
    width: 100%;
  }

  .right {
    display: none;
  }

  .newww {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .facility {
    justify-content: flex-start;
    gap: 0;
    min-width: 160px;
  }

  .facility i {
    font-size: 30px;
  }

  .roomBook h3 {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .text h3 {
    margin-top: 30px;
  }

  .text p {
    margin-bottom: 0px;
  }

  #concept {
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 0px;
  }

  .newww {
    padding-bottom: 0;
  }
}

/* accordion */

.accordion {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 30px;
}

.accordion ul {
  overflow: hidden;
  margin-top: 30px;
}

.accordion ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.accBtn {
  background: #636363;
  color: aliceblue;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: start;
  min-width: 100%;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
}

.accBtn:before,
.accBtn:after {
  background-color: aliceblue;
  content: "";
  height: 2px;
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 14px;
}

.accBtn::before {
  transform: rotate(-90deg);
  transition: all 0.3s ease-in-out;
}

.accBtn.active:before {
  transform: rotate(0deg);
}

.accBtn.active h2,
.accBtn:focus h2 {
  position: relative;
}

.answer {
  background-color: aliceblue;
  /* padding: 10px; */
  color: #636363;
  display: none;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  text-align: start;
}

.answer span {
  display: inline-block;
  margin: 10px;
}
