/* content */

h2 {
  text-align: center;
  padding: 50px 0px;
}

.content {
  background-image: url(../Img/bgi.jpg);
}

.contentOne,
.contentTwo,
.contentThree,
.contentFour {
  position: relative;
  margin-bottom: 20px;
}

.contentFour {
  margin-bottom: 0;
}

.contentimg img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  vertical-align: middle;
}

.contentAll {
  width: 750px;
  background-color: #dfdfdf;
  opacity: 0.9;
  padding: 20px 50px;
}

.right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.title {
  font-size: 36px;
  letter-spacing: 1.5rem;
  margin-bottom: 10px;
}

.boxLeft p {
  color: #7f705f;
  opacity: 1;
}

.roomClass ul {
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
  margin-left: -20px;
}

.text {
  margin-top: 20px;
}

.text p {
  font-size: 14px;
  color: #4a4a4a;
}

.text span {
  color: #7f705f;
}

.button a {
  margin-top: 40px;
  border: 1px snow #b79b7e;
  padding: 0 0;
  display: inline-block;
  padding: 10px 50px;
}

.now {
  color: #a86a28;
  border-bottom: 2px solid #a86a28;
}

/* content RWD */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
  .contentAll {
    position: static;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
}
