.banner {
  background-image: url(../Img/banner1.jpg);
  height: 650px;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

/*  booking field */

.bookingBgc {
  display: flex;
  justify-content: center;
}

.bookingField {
  width: 1000px;
  box-sizing: border-box;
  background-color: #414141;
  border-radius: 5px;
  padding: 10px 0;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 600px;
}

.bookingField label {
  padding: 0 15px;
}

.bookingField input,
.bookingField select {
  background-color: #1c1c1c;
  color: aliceblue;
  border: none;
  padding: 5px 10px;
}

.bookingField a {
  display: inline-block;
  padding: 10px 20px;
  color: aliceblue;
  letter-spacing: 0.1em;
}

.bookingField button {
  background-color: #b78958;
  color: aliceblue;
  margin-left: 15px;
  padding: 0 0;
  border: none;
  font-weight: bold;
  border-radius: 7px;
}

.bookingField a:hover {
  transition: 0.15s linear;
  background-color: #a86a28;
  border-radius: 7px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
  .bookingBgc {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}

/* discount */

.center {
  text-align: center;
}

.discount {
  background-image: url(../Img/bgi.jpg);
  padding: 50px 0 60px 0;
}

.classification ul {
  display: flex;
  justify-content: center;
  padding: 35px 0;
}

.classification ul a {
  display: inline-block;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
}

#now {
  color: #a86a28;
  border-bottom: 2px solid #a86a28;
}

.classification ul a:hover {
  color: #a86a28;
  border-bottom: 2px solid #a86a28;
  transition: all 0.01s linear;
}

.discountBar {
  max-width: 1200px;
  margin: auto;
}

.discountMenu {
  display: flex;
  justify-content: space-between;
}

.discountMenu a:hover {
  transition: 0.2s linear;
  transform: scale(1.005);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.fooddiscount {
  display: none;
}

.newsdiscount {
  display: none;
}

.discountCard {
  width: 290px;
  padding-bottom: 16px;
  border-radius: 5px;
  background-color: aliceblue;
}

.discountCard img {
  width: 100%;
  vertical-align: bottom;
  border-radius: 5px 5px 0 0;
}

.text {
  margin: 1rem;
  border-bottom: 2px solid #8e8c8c;
}

.text1 {
  margin: 1rem;
}

.text span {
  font-size: 13px;
  line-height: 2;
}

.text1 span {
  font-size: 13px;
  color: #8e8c8c;
}

.classify {
  color: #b70000;
  margin-left: 20px;
}

.discountMore {
  margin-top: 15px;
  display: flex;
  justify-content: end;
}

.discountMore a {
  margin-top: 30px;
  padding: 5px 25px;
  border: 1px solid rgb(74, 71, 71);
  border-radius: 45px;
}

.discountMore a:hover {
  transition: 0.15s linear;
  transform: translateX(10px);
}

.card {
  display: flex;
  justify-content: center;
}

.discountRwd {
  display: flex;
  gap: 13.33333px;
  justify-content: space-evenly;
}

@media screen and (max-width: 1220px) {
  .discountMenu {
    display: block;
  }

  .RWD {
    padding-bottom: 30px;
  }

  .discountMore {
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .discountRwd {
    display: block;
  }

  .card {
    padding-bottom: 30px;
  }

  .RWD {
    padding-bottom: 0px;
  }
}

/* Room introduction */

.introduction {
  position: relative;
}

.introductionImg {
  background-image: url(../Img/other1.jpg);
  background-position: center center;
  background-size: cover;
  height: 700px;
}

.introductionImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.roomIntroduction {
  background-color: #dbdad5;
  color: #7f705f;
  position: absolute;
  width: 500px;
  height: 100%;
  top: 50%;
  right: 5%;
  transform: translate(0%, -50%);
  padding: 80px 45px 30px;
}

.roomIntroduction h2 {
  padding-bottom: 50px;
  border-bottom: 2px solid #8e8c8c;
}

.txt h3 {
  margin-top: 50px;
  margin-bottom: 40px;
  letter-spacing: 0.2rem;
}

.txt span {
  line-height: 1.7rem;
  letter-spacing: 0.2rem;
  color: #8e8c8c;
}

.area {
  margin-top: 40px;
}

.roomIntroduction a {
  display: inline-block;
  margin-top: 40px;
  padding: 10px 20px;
  border: 1px solid #b78958;
  background-color: #b78958;
  color: aliceblue;
  font-weight: bold;
  border-radius: 7px;
}

.roomIntroduction a:hover {
  transition: all 0.15s linear;
  background-color: transparent;
  color: #b78958;
  border: 1px solid #b78958;
  border-radius: 7px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
  .roomIntroduction {
    position: static;
    transform: translate(0%, 0%);
    width: 100%;
    padding: 40px 50px;
  }

  .roomIntroduction h2 {
    padding-bottom: 20px;
  }

  .roomIntroduction h3 {
    margin: 20px 0;
  }

  .roomIntroduction p {
    margin: 20px 0px;
  }

  .area {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
}

/* introduce */

.introduce {
  background-image: url(../Img/bgi.jpg);
}

.intro {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 50px 10px;
}

.imgBlock {
  width: 337px;
  margin: 0px 31.5px;
}

.imgBlockdown {
  margin-top: 50px;
}

.imgBlock img {
  max-width: 100%;
  height: 100%;
  vertical-align: bottom;
  transform: scale(1, 1);
  transition: 1.8s;
}

.imgBlock img:hover {
  transform: scale(1.1, 1.1);
}

.test {
  overflow: hidden;
}

.lfbt {
  position: relative;
  bottom: -5px;
  left: -40px;
  padding: 10px 15px;
}

.lfbt h2 {
  color: #7f705f;
}

.lfbt p {
  margin-top: 10px;
  color: #8e8c8c;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .intro {
    display: block;
  }

  .imgBlock {
    margin: auto;
  }

  .lfbt {
    position: static;
    text-align: center;
    margin-bottom: 30px;
  }

  .intro {
    padding-top: 50px;
    padding-bottom: 10px;
  }
}

/* SNS */
.sns {
  background-image: url(../Img/bgi.jpg);
  padding: 50px 0 20px 0;
}

.sns h2 {
  text-align: center;
  margin-bottom: 35px;
}

.igBox {
  display: grid;
  justify-content: center;
  width: 1200px;
  margin: auto;
  gap: 8px;
  grid-template-columns: 200px 240px 350px 240px 200px;
  grid-template-rows: 70px 70px 70px 70px 70px 70px;
  overflow: hidden;
}
.column_item01 {
  grid-row: 1 / 4;
}
.column_item02 {
  grid-row: 1 / 5;
}
.column_item03 {
  grid-row: 1 / 4;
}
.column_item04 {
  grid-row: 1 / 5;
}
.column_item05 {
  grid-row: 1 / 4;
}
.column_item06 {
  grid-row: 4 / 7;
}
.column_item07 {
  grid-row: 5 / 7;
}
.column_item08 {
  grid-row: 4 / 7;
}
.column_item09 {
  grid-row: 5 / 7;
}
.column_item10 {
  grid-row: 4 / 7;
}

.snsImg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.img_01 {
  background-image: url(../Img/sns5.PNG);
  background-position: center right -40px;
}
.img_02 {
  background-image: url(../Img/sns8.PNG);
  background-position: center left -110px;
}
.img_03 {
  background-image: url(../Img/sns3.PNG);
  background-position: center center;
}
.img_04 {
  background-image: url(../Img/sns8.PNG);
  background-position: center left -80px;
}
.img_05 {
  background-image: url(../Img/sns5.PNG);
  background-position: center center;
}
.img_06 {
  background-image: url(../Img/sns6.PNG);
  background-position: center center;
}
.img_07 {
  background-image: url(../Img/sns7.PNG);
  background-position: center center;
}
.img_08 {
  background-image: url(../Img/sns4.PNG);
  background-position: center center;
}
.img_09 {
  background-image: url(../Img/sns5.PNG);
  background-position: center center;
}
.img_10 {
  background-image: url(../Img/sns6.PNG);
  background-position: center center;
}

.igBox a {
  position: relative;
}

.igBox a::after {
  content: "查看貼文";
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
}

.igBox a:hover::after {
  opacity: 1;
}

@media screen and (max-width: 1220px) {
  .igBox {
    grid-template-columns: 240px 350px 240px;
    margin: auto;
    width: 846px;
  }

  .column_item01,
  .column_item10 {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .igBox {
    grid-template-columns: 350px;
    margin: auto;
    width: 366px;
  }
  .column_item02,
  .column_item04,
  .column_item05,
  .column_item07,
  .column_item08,
  .column_item09 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}
