.us {
  background-image: url(../Img/bgi.jpg);
}

h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

.content {
  max-width: 1200px;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0 20px;
  margin: auto;
}

.box {
  display: flex;
  justify-content: space-between;
}

.connection {
  margin: auto;
}

.connection h2 {
  padding-bottom: 20px;
}

.connection p {
  text-align: center;
  font-size: 16px;
  /* margin-bottom: 20px; */
  color: #8e8c8c;
}

.questionlb,
.namelb,
.tellb,
.mobilelb,
.emaillb,
.detailslb {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.question,
.name,
.tel,
.mobile,
.email,
.details {
  width: 400px;
  padding: 10px 5px 10px 15px;
  background-color: #cac9c5;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}

.details {
  height: 200px;
  resize: none;
}

.formsubmit {
  display: flex;
  justify-content: end;
}

.submit {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #b78958;
  color: aliceblue;
  border: 1px solid #b78958;
  border-radius: 5px;
}

.submit:hover {
  transition: all 0.15s linear;
  background-color: transparent;
  color: #a86a28;
  cursor: pointer;
}

.now {
  color: #a86a28;
  border-bottom: 2px solid #a86a28;
}

/* us RWD */

@media screen and (max-width: 1200px) {
  .form {
    width: 100%;
  }
  .box {
    flex-direction: column-reverse;
  }

  .map {
    margin: 0 30px;
  }

  .map iframe {
    width: 100%;
    max-height: 300px;
  }

  .connection {
    margin: 0 20px;
  }

  .question,
  .name,
  .tel,
  .mobile,
  .email {
    width: 100%;
  }

  .details {
    width: 100%;
  }

  .formsubmit {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
