.content {
  width: 1200px;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: auto;
}

.box {
  display: flex;
}

.connection {
  padding: 3%;
}

.connection h2 {
  text-align: center;
  padding-bottom: 20px;
}

.connection p {
  font-size: 13px;
  margin: 0px 0;
  margin-bottom: 20px;
}

.question,
.tel,
.email {
  margin-bottom: 20px;
  width: 82%;
  height: 1.5rem;
}

.name {
  width: 50%;
  height: 1.5rem;
  margin-bottom: 20px;
}

.radio {
  margin-left: 20px;
}

.details {
  /* width: 100%; */
  height: 400px;
  width: 82%;
}

.submit {
  margin-top: 10px;
  margin-left: 470px;
}
