.page {
  background-image: url(../Img/bgi.jpg);
}

.content {
  width: 1200px;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: auto;
}

.box {
  display: flex;
  justify-content: space-between;
}

.connection {
  margin: auto;
}

.connection h2 {
  padding-bottom: 20px;
}

.connection p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #8e8c8c;
}

.questionlb,
.namelb,
.tellb,
.mobilelb,
.emaillb,
.detailslb {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

.question,
.name,
.tel,
.mobile,
.email,
.details {
  width: 400px;
  padding: 10px 5px 10px 15px;
  background-color: #cac9c5;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.details {
  height: 200px;
  resize: none;
}

.formsubmit {
  display: flex;
  justify-content: end;
}

.submit {
  margin-top: 20px;
  padding: 10px 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: #b79b7e;
  color: aliceblue;
  border: 1px solid #b79b7e;
}

.submit:hover {
  background-color: transparent;
  color: #b79b7e;
  cursor: pointer;
}

.now {
  color: #b78958;
  border-bottom: 2px solid #b78958;
}
